<%= stylesheet_link_tag 'a' %>
<header class="FirstHeading">
	<h1>Welcome</h1>
</header>

<div class="center">
	<div style="opacity: 0.5">
		<%= image_tag("cat.gif") %>
	</div>
	<br>
	<div>
		<%= link_to "Let's Start", posts_path, {class: "btn btn-success"}%>
	</div>
</div>