<br><br><br>
   <h1 style="color: #F23108;; text-align: center;">New Post</h1>
<%= render 'form' %>    



<div style="margin-left:30%">

<h4><%= link_to 'Back', posts_path %>                   <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></h4>
</div>
