
   <h1 style="color: white; text-align: center;">New Post</h1>
    


<%= render 'form' %>

<%= link_to 'Back', posts_path %>
<p><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></p>